@charset "UTF-8";
@font-face {
  font-family: "SignPainter";
  src: url("../fonts/Sign-Painter-Regular.ttf") format("truetype");
}
body {
  font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  background: #000;
  color: #fff;
  font-family: "Yu Mincho", "YuMincho", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.br-ss {
  display: block;
}
@media screen and (min-width: 376px) {
  .br-ss {
    display: none;
  }
}

.br-md {
  display: none;
}
@media screen and (max-width: 768px) {
  .br-md {
    display: block;
  }
}

.br-sm {
  display: block;
}
@media screen and (min-width: 600px) {
  .br-sm {
    display: none;
  }
}

.br-sm-pc {
  display: none;
}
@media screen and (max-width: 600px) {
  .br-sm-pc {
    display: block;
  }
}

.br-481 {
  display: block;
}
@media screen and (max-width: 481px) {
  .br-481 {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.layout-sub-facility {
  margin-top: 270px;
  margin-top: 16.875rem;
}

.access__inner {
  max-width: 1078px;
  max-width: 67.375rem;
  width: 100%;
  margin: 0 auto;
}

.access__map-area {
  margin-top: 68px;
  margin-top: 4.25rem;
}

#wrapper {
  position: relative;
  width: 100%;
}

#wrapper:before {
  content: "";
  display: block;
  padding-top: 31%;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__button-area {
  margin-top: 88px;
  margin-top: 5.5rem;
  text-align: center;
}

.amenities__bg {
  width: 100%;
  background-color: #E9E9E9;
  color: #000;
  padding: 53px 0 50px 0;
}

.amenities__inner {
  max-width: 980px;
  max-width: 61.25rem;
  width: 100%;
  margin: 0 auto;
}

.amenitiesList__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
  max-width: 61.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 51px;
  padding-bottom: 3.1875rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  border-bottom: 1px solid #000;
}

.amenitiesList__item {
  margin-left: 25px;
  margin-left: 1.5625rem;
}

.amenitiesList__item:nth-child(3n+1) {
  margin-left: 0;
}

.amenitiesList__content:nth-child(3) {
  border-bottom: none;
}

.amenitiesList__title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  font-family: "Yu Gothic", "YuMincho", sans-serif;
}

.amenitiesList__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7;
  font-family: "Yu Gothic", "YuMincho", sans-serif;
  margin-top: 9px;
  margin-top: 0.5625rem;
}

.blog-page__inner {
  max-width: 1078px;
  max-width: 67.375rem;
  width: 100%;
  margin: 0 auto;
}

.blog-page__item:nth-of-type(3n) {
  margin-right: 0;
}

.blog-page__items:nth-of-type(n + 4) {
  margin-top: 4%;
}

.blog-top__inner {
  max-width: 1078px;
  max-width: 67.375rem;
  width: 100%;
  margin: 0 auto;
}

.blog-top__container {
  margin-top: 80px;
  margin-top: 5rem;
}

.blog-top__each-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 23px;
  padding-top: 1.4375rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  border-bottom: 2px dotted #fff;
}

.blog-top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-top__new {
  padding: 2px 6px;
  padding: 0.125rem 0.375rem;
  border: 1px solid #fff;
}

.blog-top__date {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.blog-top__title {
  margin-left: 22px;
  margin-left: 1.375rem;
}

.blog-top__button-area {
  margin-top: 88px;
  margin-top: 5.5rem;
  text-align: center;
}

.box__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 144px;
  margin-left: 9rem;
  margin-right: 144px;
  margin-right: 9rem;
}

.box__left,
.box__right {
  background-color: #fff;
  color: #000;
  width: 45%;
  padding: 50px 80px;
  padding: 3.125rem 5rem;
}

.box__button-area {
  margin-top: 60px;
  margin-top: 3.75rem;
  text-align: center;
}

.box__button.button {
  border: 1px solid #000;
}

.breadcrumb {
  color: #fff;
  height: 50px;
  height: 3.125rem;
}

.breadcrumb__item {
  margin-left: 16px;
  margin-left: 1rem;
}

.button {
  text-align: center;
  padding: 10px 76px;
  padding: 0.625rem 4.75rem;
  border: 1px solid #fff;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(75% - 2px);
  right: -2em;
  -webkit-transform: translateY(calc(-75% - 2px)) rotate(45deg);
          transform: translateY(calc(-75% - 2px)) rotate(45deg);
  width: 10px;
  height: 1px;
  background: #EAF058;
}

.button::after {
  content: "";
  position: absolute;
  top: 75%;
  right: -2em;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  width: 100px;
  height: 1px;
  background: #EAF058;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1076px;
  max-width: 67.25rem;
  width: 100%;
  padding-left: 25px;
  padding-left: 1.5625rem;
  padding-right: 25px;
  padding-right: 1.5625rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26%;
  margin-right: 7%;
}

.card__img {
  padding-top: 100%;
  position: relative;
}

.card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__info {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
}

.card__info {
  margin-top: auto;
}

.card__date {
  display: block;
  margin-right: auto;
  font-size: 12px;
}

.card__title {
  font-size: 18px;
}

.card__text {
  margin-top: 16px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.convention__inner {
  max-width: 1060px;
  max-width: 66.25rem;
  width: 100%;
  margin: 0 auto;
}

.convention__container {
  margin-top: 120px;
  margin-top: 7.5rem;
}

.convention__index {
  font-size: 24px;
  font-size: 1.5rem;
}

.convention__text1-1,
.convention__text2-1,
.convention__text3-1,
.convention__text4-1,
.convention__text5-1,
.convention__text6-1,
.convention__text7-1,
.convention__text8-1,
.convention__text9-1,
.convention__text10-1,
.convention__text11-1,
.convention__text12-1,
.convention__text13-1,
.convention__text14-1,
.convention__text15-1,
.convention__text16-1,
.convention__text17-1 {
  margin-top: 16px;
  margin-top: 1rem;
}

.convention__text1-2,
.convention__text1-3,
.convention__text2-2,
.convention__text2-7,
.convention__text3-2,
.convention__text3-3,
.convention__text3-4,
.convention__text3-5,
.convention__text4-2,
.convention__text4-3,
.convention__text5-2,
.convention__text6-2,
.convention__text6-3,
.convention__text6-4,
.convention__text7-2,
.convention__text7-3,
.convention__text7-12,
.convention__text8-2,
.convention__text8-7,
.convention__text9-2,
.convention__text9-3,
.convention__text10-2,
.convention__text11-2,
.convention__text12-2,
.convention__text12-3,
.convention__text12-4,
.convention__text13-2,
.convention__text14-2,
.convention__text14-3,
.convention__text15-2,
.convention__text15-3,
.convention__text16-2,
.convention__text16-3,
.convention__text16-4,
.convention__text17-2 {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.convention__wrapper2,
.convention__wrapper3,
.convention__wrapper4,
.convention__wrapper5,
.convention__wrapper6,
.convention__wrapper7,
.convention__wrapper8,
.convention__wrapper9,
.convention__wrapper10,
.convention__wrapper11,
.convention__wrapper12,
.convention__wrapper13,
.convention__wrapper14,
.convention__wrapper15,
.convention__wrapper16,
.convention__wrapper17 {
  margin-top: 70px;
  margin-top: 4.375rem;
}


.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #272727;
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-bottom: 106px;
  padding-bottom: 6.625rem;
}

.footer__left {
  margin-left: 145px;
  margin-left: 9.0625rem;
  padding-right: 124px;
  padding-right: 7.75rem;
  border-right: 1px solid #fff;
}

.footer__logo {
  width: 160px;
  width: 10rem;
}

.footer__right {
  margin-left: 132px;
  margin-left: 8.25rem;
  font-size: 20px;
  font-size: 1.25rem;
}

.footer__list-item + .footer__list-item {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.footer__list-item span {
  font-size: 16px;
  font-size: 1rem;
  padding-left: 50px;
  padding-left: 3.125rem;

.facility-box__inner {
  margin-left: 150px;
  margin-left: 150px;
  margin-left: 9.375rem;
  margin-right: 150px;
  margin-right: 150px;
  margin-right: 9.375rem;
}

.facility-box__container {
  color: #000;
  font-size: 28px;
  font-size: 28px;
  font-size: 1.75rem;
  font-family: "Yu Mincho", "YuGothic", sans-serif;
  line-height: 1.7;
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.facility-box__left,
.facility-box__center,
.facility-box__right {
  background-color: #fff;
  width: 348px;
  width: 348px;
  width: 21.75rem;
  height: 90px;
  height: 90px;
  height: 5.625rem;
  padding-top: 18px;
  padding-top: 18px;
  padding-top: 1.125rem;
}

.facility-box__icon {
  padding-top: 26px;
  padding-top: 26px;
  padding-top: 1.625rem;
  background-image: url(../images/common/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  width: 24px;
  width: 1.5rem;
  height: 23px;
  height: 23px;
  height: 1.4375rem;
  margin: auto;
}

.facility__border {
  margin-top: 16%;
  max-width: 1076px;
  max-width: 1076px;
  max-width: 67.25rem;
  width: 100%;
}

.facility__button-area {
  text-align: center;
  margin-top: 160px;
  margin-top: 160px;
  margin-top: 10rem;
}

.facility__button {
  max-width: 937px;
  max-width: 937px;
  max-width: 58.5625rem;
  width: 100%;
  background-color: #e9e9e9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

.facility__button img {
  max-width: 271px;
  max-width: 271px;
  max-width: 16.9375rem;
  width: 100%;
}

.facility__button::after {
  content: "";
  width: 20px;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 20px;
  height: 1.25rem;
  border: 0;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  position: absolute;
  top: 47%;
  right: 15%;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #000;
}

.facility__button span {
  text-align: center;
  font-size: 40px;
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  color: #000;
  margin-left: 37px;
  margin-left: 37px;
  margin-left: 2.3125rem;

}

<<<<<<< HEAD
=======
.footer__sns {
  background-color: #fff;
  color: #000;
  padding: 30px 0;
  padding: 1.875rem 0;
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  width: 45px;
  width: 2.8125rem;
}

.footer__list + .footer__list {
  margin-left: 24px;
  margin-left: 1.5rem;
}

.footer__list-big {
  width: 72px;
  width: 4.5rem;
}

.footer__copy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0;
  padding: 0.25rem 0;
}

.footer__cancel-policy {
  margin-left: 430px;
  margin-left: 26.875rem;
}

.footer__copyright {
  margin-right: 430px;
  margin-right: 26.875rem;
}

>>>>>>> 015da451d326a620469375c9d94829d209ad182b
.gallery__container {
  margin-top: 98px;
  margin-top: 6.125rem;
  width: 100%;
  height: 360px;
  height: 22.5rem;
}

.gallery__button-area {
  margin-top: 94px;
  margin-top: 5.875rem;
  text-align: center;
}

.header {
  background: #000;
  height: 90px;
  z-index: 11111;
  width: 100vw;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding: 0 30px 0 20px;
  padding: 0 1.875rem 0 1.25rem;
}

.header__logo img {
  width: 158px;
}

/*======================================
pc版のナビメニュー                                 
======================================*/
.header__nav {
  text-transform: uppercase;
  margin-left: auto;
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__nav-item {
  height: inherit;
  letter-spacing: 0.06em;
}

.header__nav-item + .header__nav-item {
  margin-left: 28px;
  margin-left: 1.75rem;
}

.header__nav-item a {
  color: #fff;
  height: inherit;
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
  padding: 0 0.75rem;
  position: relative;
}

.header__nav-item a::before {
  position: absolute;
  content: "";
  bottom: 6px;
  bottom: 0.375rem;
  left: 3%;
  width: 90%;
  height: 1px;
  height: 0.0625rem;
  visibility: hidden;
}

.header__nav-item a:hover::before {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: visible;
}

.header__nav-item.header__nav-item--white a:hover::before {
  visibility: hidden;
}

.header__nav-item.header__nav-item--white {
  padding: 4px;
  padding: 0.25rem;
  margin-left: 28px;
  margin-left: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
}

.header__nav-item.header__has-sub {
  padding: 7px;
  padding: 0.4375rem;
  margin-left: 28px;
  margin-left: 1.75rem;
  border: 1px solid #fff;
  height: inherit;
}

.header__nav-item.header__nav-item--white a {
  color: #fff;
  padding: 0 27px;
  padding: 0 1.6875rem;
}

.header__nav-item.nav-item--white a:hover {
  background: #272727;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__nav-item-icon {
  background-image: url(../images/common/icon-air.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  width: 3.125rem;
  height: 30px;
  height: 1.875rem;
  margin: auto;
}

/*======================================
Englishのホバー                                        
======================================*/
.header__has-sub {
  position: relative;
}
.header__has-sub .header__sub {
  display: none;
}

.header__has-sub:hover .header__sub {
  display: block;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 38%;
  bottom: -80px;
  bottom: -5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
  height: 3.75rem;
  width: 200px;
  width: 12.5rem;
}

.header__sub-text {
  padding-top: 14px;
  padding-top: 0.875rem;
  background-color: #000;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

.header__sub-text a img {
  width: 50px;
  width: 3.125rem;
}

/*======================================
sp                                        
======================================*/
.header__sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  width: 100%;
  height: 100vh;
  z-index: 8888;
}
@media screen and (max-width: 768px) {
  .header__sp-nav {
    display: none;
  }
}

.header__sp-nav-items {
  padding-top: 150px;
  padding-top: 9.375rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  height: 100vh;
  overflow: scroll;
}

.header__sp-nav-item a {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.inquiry__text1-2 {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.introduction__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction__container-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.introduction__each-wrapper {
  margin-top: 213px;
  margin-top: 13.3125rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  border-bottom: 1px solid #fff;
}

.introduction__image-big {
  width: 100%;
  max-width: 649px;
  max-width: 40.5625rem;
  position: relative;
}

.introduction__image-big::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.introduction__image-big img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.introduction__room-name {
  margin-top: 288px;
  margin-top: 18rem;
  margin-left: 74px;
  margin-left: 4.625rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 62px;
  font-size: 3.875rem;
  letter-spacing: 0.5em;
}

.introduction__container-even > .introduction__room-name {
  margin-right: 60px;
  margin-right: 3.75rem;
}

.introduction__image-wrapper {
  margin-top: -174px;
  margin-top: -10.875rem;
  margin-left: 108px;
  margin-left: 6.75rem;
  width: 380px;
  width: 23.75rem;
}

.introduction__image-small {
  width: 100%;
  position: relative;
}

.introduction__image-small::before {
  content: "";
  display: block;
  padding-top: 135%;
}

.introduction__image-small img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.introduction__person {
  margin-top: 58px;
  margin-top: 3.625rem;
  text-align: center;
  font-size: 26px;
  font-size: 1.625rem;
  position: relative;
}

.introduction__person::after {
  position: absolute;
  bottom: -23px;
  left: 43%;
  content: "";
  width: 61px;
  border-bottom: 1px solid yellow;
}

.introduction__capacity {
  margin-top: 48px;
  margin-top: 3rem;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}

.introduction__breadth {
  margin-top: 8px;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}

.introduction__text-area {
  margin-top: 128px;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1076px;
  max-width: 67.25rem;
  width: 100%;
  background-color: #fff;
  color: #000;
}

.introduction__text {
  padding: 53px 53px;
  padding: 3.3125rem 3.3125rem;
  line-height: 1.5;
}

.introduction__text2 {
  padding: 0 53px 53px;
  padding: 0 3.3125rem 3.3125rem;
}

.introduction__button-area {
  margin-top: 55px;
  margin-top: 3.4375rem;
  text-align: center;
}

.introduction__each-wrapper-hana,
.introduction__each-wrapper-tsuki,
.introduction__each-wrapper-tora,
.introduction__each-wrapper-shizuku,
.introduction__each-wrapper-tsuru,
.introduction__each-wrapper-nizi {
  position: relative;
  z-index: 2;
}

.introduction__background1,
.introduction__background2,
.introduction__background3,
.introduction__background4 {
  background-color: #272727;
  z-index: -2;
  position: absolute;
}

.introduction__background1,
.introduction__background3 {
  right: 0;
  top: 220px;
  top: 13.75rem;
  width: 833px;
  width: 52.0625rem;
  height: 1250px;
  height: 78.125rem;
}

.introduction__background2 {
  left: 0;
  top: 950px;
  top: 59.375rem;
  width: 958px;
  width: 59.875rem;
  height: 612px;
  height: 38.25rem;
}

.introduction__background4 {
  left: 0;
  top: 205px;
  top: 12.8125rem;
  width: 958px;
  width: 59.875rem;
  height: 612px;
  height: 38.25rem;
}

.layout-access {
  margin-top: 500px;
  margin-top: 31.25rem;
}

.layout-amenities {
  margin-top: 329px;
  margin-top: 20.5625rem;
}

.layout-blog-page {
  margin-top: 124px;
  margin-top: 7.75rem;
}

.layout-blog-top {
  margin-top: 500px;
  margin-top: 31.25rem;
}

.layout-box {
  margin-top: 500px;
  margin-top: 31.25rem;
}

.layout-breadcrumb {
  margin-top: 5px;
  margin-top: 0.3125rem;
  margin-left: 145px;
  margin-left: 9.0625rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-convention {
  margin-top: 489px;
  margin-top: 30.5625rem;
}


.layout-footer {
  margin-top: 114px;
  margin-top: 7.125rem;

.layout-facility-box {
  margin-top: 137px;
  margin-top: 8.5625rem;

}

.layout-gallery {
  margin-top: 500px;
  margin-top: 31.25rem;
}

.layout-inquiry {
  margin-top: 162px;
  margin-top: 10.125rem;
}

.layout-introduction {
  margin-top: 384px;
  margin-top: 24rem;
}

.layout-message {
  margin-top: 128px;
  margin-top: 8rem;
  padding-top: 156px;
  padding-top: 9.75rem;
  padding-bottom: 170px;
  padding-bottom: 10.625rem;
}

.layout-mv-sub {
  padding-top: 90px;
}

.layout-notes {
  margin-top: 259px;
  margin-top: 16.1875rem;
}

.layout-privacy-policy-box {
  margin-top: 165px;
  margin-top: 10.3125rem;
}

.layout-privacy-policy {
  margin-top: 158px;
  margin-top: 9.875rem;
}

.layout-recruit {
  margin-top: 500px;
  margin-top: 31.25rem;
}

.layout-reservation {
  margin-top: 62px;
  margin-top: 3.875rem;
}

.layout-shared-space {
  margin-top: 178px;
  margin-top: 11.125rem;
}

.layout-shared-swiper {
  margin-top: 60px;
  margin-top: 3.75rem;
}

.message {
  background-image: url(../images/top/background-message-top.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "SignPainter HouseScript";
}

.message__container {
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.4;
}

.message__text2 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.message__button-area {
  margin-top: 80px;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mv-sub__background {
  width: 646px;
  width: 40.375rem;
  height: 110px;
  height: 6.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mv-sub__image {
  width: 100%;
  position: relative;
}

.mv-sub__image::before {
  content: "";
  display: block;
  padding-top: 21%;
}

.mv-sub__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.mv-sub__title-ja,
.mv-sub__title-en {
  color: #000;
  position: absolute;
}

.mv-sub__title-ja {
  font-size: 36px;
  font-size: 2.25rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mv-sub__title-en {
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mv {
  margin-top: 58px;
}

.mv__inner {
  position: relative;
}

.mv__title {
  position: absolute;
  font-size: 63px;
  font-size: 3.9375rem;
  bottom: 144px;
  bottom: 9rem;
  left: 58px;
  left: 3.625rem;
  letter-spacing: 0.13em;
  z-index: 2;
}

.mv__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.mv__image {
  position: relative;
  width: 1152px;
  width: 72rem;
  height: 814px;
  height: 50.875rem;
  margin-left: auto;
}

.mv__image::before {
  content: "";
  display: block;
  padding-top: 70.6597%;
}

.mv__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}

.mv__background {
  margin-top: auto;
  background-color: #272727;
  width: 40%;
  height: 636px;
  height: 39.75rem;
  z-index: -1;
  position: relative;
}

.notes__inner {
  max-width: 1076px;
  max-width: 67.25rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.notes__title-area.sub-section-title::before,
.notes__title-area.sub-section-title::after {
  width: 400px;
  width: 25rem;
}

.notes__title-area.sub-section-title::before {
  left: 18%;
}

.notes__title-area.sub-section-title::after {
  right: -19%;
}

.notes__title-area {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  z-index: 2;
}

.notes__title-ja.sub-section-title__ja {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Yu Mincho", "YuGothic", sans-serif;
  line-height: 1.7;
}

.notes__wrapper {
  margin-top: 106px;
  margin-top: 6.625rem;
}

.notes__wrapper:last-child {
  margin-top: 108px;
  margin-top: 6.75rem;
}

.notes__index {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Yu Gothic", "YuMincho", sans-serif;
  line-height: 1.5;
}

.notes__text {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Yu Gothic", "YuMincho", sans-serif;
  line-height: 1.75;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.privacy-policy-box__inner {
  margin-left: 284px;
  margin-left: 17.75rem;
  margin-right: 268px;
  margin-right: 16.75rem;
}

.privacy-policy-box__container {
  color: #000;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Yu Mincho", "YuMincho", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.privacy-policy-box__left,
.privacy-policy-box__right {
  background-color: #fff;
  width: 348px;
  width: 21.75rem;
  height: 90px;
  height: 5.625rem;
  padding-top: 18px;
  padding-top: 1.125rem;
}

.privacy-policy-box__icon {
  padding-top: 26px;
  padding-top: 1.625rem;
  background-image: url(../images/common/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  width: 1.5rem;
  height: 30px;
  height: 1.875rem;
  margin: auto;
}

.privacy-policy__inner {
  max-width: 1060px;
  max-width: 66.25rem;
  width: 100%;
  margin: 0 auto;
}

.privacy-policy__container {
  margin-top: 130px;
  margin-top: 8.125rem;
}

.privacy-policy__index {
  font-size: 24px;
  font-size: 1.5rem;
}

.privacy-policy__text1-1,
.privacy-policy__text2-1,
.privacy-policy__text3-1,
.privacy-policy__text4-1,
.privacy-policy__text5-1,
.privacy-policy__text6-1,
.privacy-policy__text7-1,
.privacy-policy__text8-1,
.privacy-policy__text9-1 {
  padding-top: 16px;
  padding-top: 1rem;
}

.privacy-policy__text1-2,
.privacy-policy__text1-3,
.privacy-policy__text1-4,
.privacy-policy__text2-2,
.privacy-policy__text3-2,
.privacy-policy__text7-2,
.privacy-policy__text7-3,
.privacy-policy__text7-4,
.privacy-policy__text8-2,
.privacy-policy__text8-4,
.privacy-policy__text8-6 {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.privacy-policy__text-title1-5,
.privacy-policy__text-title6-2,
.privacy-policy__text-title6-4 {
  padding-top: 20px;
  padding-top: 1.25rem;
}

.privacy-policy__wrapper2 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.privacy-policy__wrapper3 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.privacy-policy__wrapper4 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.privacy-policy__wrapper5 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.privacy-policy__wrapper6 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.privacy-policy__wrapper7 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.privacy-policy__wrapper8 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.privacy-policy__wrapper9 {
  margin-top: 70px;
  margin-top: 4.375rem;
}

.qa__inner {
  max-width: 1060px;
  max-width: 66.25rem;
  width: 100%;
  margin: 0 auto;
}

.qa__contents {
  margin-top: 66px;
  margin-top: 4.125rem;
}

.qa__content > li {
  list-style: none;
}

.qa__label {
  cursor: pointer;
  position: relative;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  background-color: #fff;
  color: #000;
}

.qa__label::before {
  content: "";
  background-image: url(../images/qa/Q.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: red;
}

.qa__label > p {
  margin-left: 30px;
  margin-left: 1.875rem;
  font-size: 16px;
  font-size: 1rem;
}

.qa__answer {
  display: none;
}

.qa__answer > p {
  font-size: 16px;
  font-size: 1rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  padding-top: 14px;
  padding-top: 0.875rem;
  padding-bottom: 14px;
  padding-bottom: 0.875rem;
  position: relative;
}

.qa__answer > p::before {
  position: absolute;
  content: "";
  background-image: url(../images/qa/A.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: blue;
  left: 0;
}

/*======================================
アイコン                                        
======================================*/
.icon-wrap {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 38px;
  height: 38px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* プラスアイコン */
/* ２本の線を.icon-wrapの中央に並行に重ねる */
.icon:before,
.icon:after {
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #b3b3b3;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 2px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* そのうち1本を縦にする */
.icon:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

/* プラスアイコンクリック後、マイナスにする */
.icon.open:before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.recruit__inner {
  max-width: 1078px;
  max-width: 67.375rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.recruit__title-area {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  z-index: 2;
}

.recruit__image {
  width: 100%;
  position: relative;
  height: 500px;
  height: 31.25rem;
}

.recruit__image::before {
  content: "";
  display: block;
  padding-top: 46%;
  background: rgba(0, 0, 0, .5);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.recruit__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.recruit__message {
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.recruit__button-area {
  position: absolute;
  left: 93%;
  top: 80%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.reservation__inner {
  max-width: 938px;
  max-width: 58.625rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.reservation__container {
  background-color: #fff;
  height: 176px;
  height: 11rem;
}

.reservation__title-area {
  padding-top: 36px;
  padding-top: 2.25rem;
  color: #000;
  text-align: center;
}

.reservation__title--ja {
  font-size: 34px;
  font-size: 2.125rem;
}

.reservation__title--en {
  margin-top: -6px;
  margin-top: -0.375rem;
  margin-left: 28px;
  margin-left: 1.75rem;
}

.reservation__icon {
  padding-top: 70px;
  padding-top: 4.375rem;
  background-image: url(../images/common/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  width: 3.125rem;
  height: 30px;
  height: 1.875rem;
  margin: auto;
}

.section-title {
  text-align: center;
}

.section-title__ja {
  font-size: 34px;
  font-size: 2.125rem;
}

.section-title__en {
  padding-left: 38px;
  padding-left: 2.375rem;
  font-size: 12px;
  font-size: 0.75rem;
}

.shared-space__inner {
  max-width: 979px;
  max-width: 61.1875rem;
  width: 100%;
  margin: 0 auto;
}

.shared-space__title-ja {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.7;
  font-family: "Yu Mincho", "YuGothic", sans-serif;
}

.shared-space__title-en {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.125;
}

.shared-space__container {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.shared-space__text {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  font-family: "Yu Mincho", "YuGothic", sans-serif;
}

.shared-swiper__container {
  max-width: 980px;
  max-width: 61.25rem;
  width: 100%;
  margin: auto;
}

.shared-swiper__img,
.shared-swiper__img img {
  width: 310px;
  width: 19.375rem;
}

.shared-swiper__content {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.shared-swiper__title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Yu Gothic", "YuMincho", sans-serif;
  text-align: center;
}

.shared-swiper__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Yu Gothic", "YuMincho", sans-serif;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.sub-section-title {
  position: relative;
}

.sub-section-title::before,
.sub-section-title::after {
  position: absolute;
  content: "";
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 280px;
  width: 17.5rem;
  height: 1px;
  height: 0.0625rem;
}

.sub-section-title::before {
  left: 13%;
}

.sub-section-title::after {
  right: -12%;
}

.sub-section-title__ja {
  font-size: 26px;
  font-size: 1.625rem;
  text-align: center;
}

.sub-section-title__en {
  font-size: 14px;
  font-size: 0.875rem;
  padding-left: 76px;
  padding-left: 4.75rem;
  text-align: center;
}

.swiper-wrapper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  width: 30%;
}

.swiper-slide,
.swiper-slide img {
  width: 360px;
  width: 22.5rem;
}
/*# sourceMappingURL=styles.css.map */
