@use 'global' as *;

.access {

}

.access__inner {
    max-width: rem(1078);
    width: 100%;
    margin: 0 auto;
}

.access__title-area {

}
.access__title-ja{

}

.access__title-en {

}

.access__map-area{
    margin-top: rem(68);
}

#wrapper {
    position: relative;
    width: 100%;
}
#wrapper:before {
    content:"";
    display: block;
    padding-top: 31%; 
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.access__button-area {
    margin-top: rem(88);
    text-align: center;
}
.access__button {
    
}