@use 'global' as *;

.affiliated {

}
.affiliated__inner {
    max-width: rem(550);
    width: 100%;
    margin: 0 auto;
    @include mq('comp') {
        padding-left: $padding-pc;
        padding-right: $padding-pc;
    }
    
}
.affiliated__title-area {

}

.affiliated__title-ja {
    font-size: rem(15);
}

.affiliated__title-en {

}

.affiliated__container {
    margin-top: rem(56);
}

.affiliated__place {
    background-color: $white;
    color: $black;
    padding: rem(40);
}
.affiliated__place-title-ja {
    font-family: $sawarabi;
    font-size: rem(36);
    @include mq('lg') {
       font-size: rem(28); 
    }
}

.affiliated__place-title-ja,
.affiliated__place-title-en {
    display: flex;
    align-items: center;
    justify-content: center;
}
.affiliated__address {
    border: 1px solid $white;
    padding-bottom: rem(70);
}
.affiliated__text {
    margin-top: rem(50);
    text-align: center;
    font-family: $yugothic;
}
.affiliated__button-area {
    margin-top: rem(50);
    text-align: center;
}
.affiliated__button {

}

