@use "global" as *;

.amenitiesList__items {
    display: flex;
    max-width: rem(980);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: rem(51);
    margin-top: rem(65);
    border-bottom: 1px solid $black;
}

.amenitiesList__item {
    margin-left: rem(25);
}

.amenitiesList__item:nth-child(3n+1) {
    margin-left: 0;
}

.amenitiesList__content:nth-child(3) {
    border-bottom: none;
}

.amenitiesList__title {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.75;
    font-family: $yugothic;
}

.amenitiesList__text {
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.7;
    font-family: $yugothic;
    margin-top: rem(9);
}
