@use "global" as *;

.amenitiesList__items {
    display: flex;
    max-width: rem(980);
    margin: rem(65) auto;
    padding: 0 rem(20) rem(51);
    border-bottom: 1px solid $black;
    @include mq(md) {
        flex-wrap: wrap;
        margin-top: rem(0);
        padding-bottom: rem(0);
        border-bottom: none;
    }
}

.amenitiesList__items:last-child {
    margin-bottom: 0;
}

.amenitiesList__item {
    margin-left: rem(25);
    @include mq(md) {
        margin-left: rem(0);    
    }
}

.amenitiesList__item:nth-child(3n+1) {
    margin-left: 0;
}

.amenitiesList__content:nth-child(3) {
    border-bottom: none;
}

.amenitiesList__title {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.75;
    font-family: $yugothic;
    @include mq(md) {
        margin-top: rem(30);
    }
}

.amenitiesList__text {
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.7;
    font-family: $yugothic;
    margin-top: rem(9);
}
