@use 'global' as *;

.blog-top {

}

.blog-top__inner {

}

.blog-top__title-area {

}

.blog-top__title-ja {

}

.blog-top__title-en {

}

.blog-top__container {

}

.blog-top__each-wrapper {
    display: flex;
}
.blog-top__box {
    display: flex;
}
.blog-top__new {

}
.blog-top__date {

}
.blog-top__title{

}
.blog-top__button-area {
    text-align: center;
}

.blog-top__button {

}