@use 'global' as *;

.blog-top {

}

.blog-top__inner {
    max-width: rem(1078);
    width: 100%;
    margin: 0 auto;
    @include mq('ll') {
       padding-left: $padding-sp;
       padding-right: $padding-sp; 
    }
}

.blog-top__title-area {

}

.blog-top__title-ja {

}

.blog-top__title-en {

}

.blog-top__container {
    margin-top: rem(55);
}

.blog-top__each-wrapper {
    display: flex;
    align-items: center;
    padding-top: rem(20);
    padding-bottom: rem(10);
    border-bottom: 2px dotted $white;
    font-size: rem(16);
    font-weight: 500;
    font-family: $yugothic;
    line-height: 1.7;
    @include mq('ll') {
       flex-direction: column; 
       align-items: baseline;
    }
    @include mq('md') {
       font-size: 16px; 
    }
}
.blog-top__box {
    display: flex;
    align-items: center;
}
.blog-top__new {
    padding: rem(2) rem(6);
    border: 1px solid $white;
    font-size: rem(12);
    font-weight: 600;
    line-height: 1.7;
}
.blog-top__date {
    margin-left: rem(20);
}
.blog-top__title{
    margin-left: rem(22);
}
.blog-top__button-area {
    margin-top: rem(88);
    text-align: center;
}

.blog-top__button {

}