@use "global" as *;

.box {
}

.box__inner {
    display: flex;
    justify-content: space-between;
    margin-left: rem(144);
    margin-right: rem(144);
    @include mq('ll') {
       flex-direction: column; 
       align-items: center;
    }
}
.box__right {
    @include mq('ll') {
       margin-top: rem(50); 
    }
}
.box__left,
.box__right {
    background-color: $white;
    color: $black;
    min-width: 46%;
    padding: rem(55) rem(80);
    @include mq('md') {
       width: 75%; 
    }
}
.box__left-title-area,
.box__right-title-area {
}
.box__left-title-ja,
.box__right-title-ja {
    font-size: rem(36);
    font-size: min(2.6vw,36px);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.7;
    @include mq(md) {
        font-size: rem(36);
    }
}

.box__left-title-en,
.box__right-title-en {
    font-size: rem(16);
    font-family: $sub-font-family;
    line-height: 1.125;
}

// ボタン
.box__button-area {
    margin-top: rem(52);
    text-align: center;
}
.box__button.button {
    border: 1px solid $black;
    font-size: rem(16);
    font-family: $sub-font-family;
    line-height: 2;
    padding: rem(7) rem(83);
}
.box__button.button::after {
    border-right: 2px solid #107E14;
    border-bottom: 1px solid #107E14;
}

.box__right {
}
