@use "global" as *;

.breakFast,
.dinner {
    max-width: rem(1076);
    width: 100%;
    margin: auto;
    @include mq('ll') {
        padding-left: $padding-sp;
        padding-right: $padding-sp; 
     }
}

.breakFast__inner {
    max-width: rem(1366);
    width: 100%;
    margin: auto;
    padding: 0 10,6vw;
}


.breakFast__title-area.sub-section-title::before, 
.breakFast__title-area.sub-section-title::after, 
.diner__title-area.sub-section-title::before, 
.diner__title-area.sub-section-title::after {
    width: rem(400);
}

.breakFast__title-area.sub-section-title::after,
.diner__title-area.sub-section-title::after {
    right: -18%;
} 
.breakFast__title-area.sub-section-title::before,
.diner__title-area.sub-section-title::before {
    left: 18%;
} 

