@use "global" as *;

.concept {
}

.concept__inner {
    max-width: rem(890);
    width: 100%;
    margin: 0 auto;
    @include mq('ll') {
       padding-left: $padding-sp;
       padding-right: $padding-sp; 
    }
}
.concept__container {
    font-family: $yugothic;
    font-size: rem(16);
    text-align: center;
}
.concept__background-image {
    // text1の上からtext4の下まで
    // background-image: url(../images/concept/background-message-concept.png);
    background-position: initial;
    background-size: 55% rem(1500);
    background-repeat: no-repeat;
    font-family: $sub-font-family;
}
.concept__text1,
.concept__text2,
.concept__text3 .concept__text2,
.concept__text4,
.concept__text5,
.concept__text6,
.concept__text7 {
    // font-family: $yugothic;
    // font-size: rem(24);
    // text-align: center;
    // max-width: rem(832);
    // width: 100%;
    // margin: 0 auto;
}

.concept__text1 {
    padding-top: rem(80);
    line-height: 2.3;
    letter-spacing: 0.1em;
}
.concept__text2 {
    padding-top: rem(102);
    line-height: 2.5;
    letter-spacing: 0.2em;
}
.concept__text3 {
    padding-top: rem(97);
    line-height: 2.5;
    letter-spacing: 0.2em;
}
.concept__text4 {
    padding-top: rem(97);
    line-height: 2.5;
    letter-spacing: 0.2em;
}
.concept__text5 {
    padding-top: rem(50);
    letter-spacing: 0.2em;
}
.concept__text6 {
    padding-top: rem(105);
    line-height: 2.5;
    letter-spacing: 0.2em;
}
.concept__text7 {
    padding-top: rem(151);
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
}
.concept__sign {
    margin-top: rem(32);
}
