@use 'global' as *;

.contact {

}

.contact__inner {
    max-width: rem(818);
    width: 100%;
    margin: 0 auto;
    @include mq('ll') {
        max-width: 85%;         
        padding-right: $padding-sp;
        padding-left: $padding-sp;
    }
    @include mq('md') {
    }
}

.contact__form {

}
.contact__thanks {
    text-align: center;
}
.contact__button-area {
    margin-top: rem(20);
    text-align: center;
}











