@use 'global' as *;

.convention {

}
.convention__inner {
    max-width: rem(1078);
    width: 100%;
    margin: 0 auto;
}
.convention__title-area {

}
.convention__title-area.section-title-sub::after {
    right: -13%;
}
.convention__title-ja {

}
.convention__title-en {

}
.convention__container {
    margin-top: rem(114);
}
.convention__text1-1,
.convention__text2-1,
.convention__text3-1, 
.convention__text4-1,
.convention__text5-1,
.convention__text6-1,
.convention__text7-1,
.convention__text8-1,
.convention__text9-1,
.convention__text10-1,
.convention__text11-1,
.convention__text12-1,
.convention__text13-1,
.convention__text14-1,
.convention__text15-1,
.convention__text16-1,
.convention__text17-1 {
    margin-top: rem(16);
}
.convention__text1-2,
.convention__text1-3,
.convention__text2-2,
.convention__text2-7,
.convention__text3-2,
.convention__text3-3,
.convention__text3-4,
.convention__text3-5, 
.convention__text4-2,
.convention__text4-3,
.convention__text5-2,
.convention__text6-2,
.convention__text6-3,
.convention__text6-4,
.convention__text7-2,
.convention__text7-3,
.convention__text7-12,
.convention__text8-2,
.convention__text8-7,
.convention__text9-2,
.convention__text9-3,
.convention__text10-2,
.convention__text11-2,
.convention__text12-2,
.convention__text12-3,
.convention__text12-4,
.convention__text13-2,
.convention__text14-2,
.convention__text14-3,
.convention__text15-2,
.convention__text15-3,
.convention__text16-2,
.convention__text16-3,
.convention__text16-4,
.convention__text17-2
{
    padding-top: rem(20);
}

.convention__wrapper1 {
    margin-top: rem(70);

}
.convention__wrapper2 {
    margin-top: rem(93);
}
.convention__wrapper3 {
    margin-top: rem(107);
}
.convention__wrapper4 {
    margin-top: rem(130);
}
.convention__wrapper5 {
    margin-top: rem(90);
}
.convention__wrapper6 {
    margin-top: rem(128);
}
.convention__wrapper7 {
    margin-top: rem(116);
}
.convention__wrapper8 {
    margin-top: rem(145);
}
.convention__wrapper9 {
    margin-top: rem(108);
}
.convention__wrapper10 {
    margin-top: rem(95);
}
.convention__wrapper11 {
    margin-top: rem(75);
}
.convention__wrapper12 {
    margin-top: rem(108);
}   
.convention__wrapper13 {
    margin-top: rem(102);
}
.convention__wrapper14 {
    margin-top: rem(110);
}
.convention__wrapper15 {
    margin-top: rem(94);
}
.convention__wrapper16 {
    margin-top: rem(128);
}
.convention__wrapper17 {
    margin-top: rem(116);
}
.convention__index {
    font-size: rem(24);
}
