@use "global" as *;

.contact7__contents {
}
.contact7content {
    display: flex;
    @include mq("md") {
        flex-direction: column;
        width: 100%;
    }
}
.contact7content + .contact7content {
    margin-top: rem(29);
}
.contact7head-wrapper {
    width: 32%;
}
.contact7head {
    display: flex;
    width: 100%;
    white-space: nowrap;
}
.contact7required,
.contact7any {
    padding: rem(2) rem(10);
    margin-right: rem(10);
}

.contact7required {
    color: $black;
    background-color: $white;
    font-weight: 600;
}

.contact7any {
    color: $white;
    background-color: $gray;
}
.contact7title {
    font-size: 16px;
    @include mq(md) {
        font-size: 14px;
    }
    @include mq(ss) {
        font-size: 12px;
    }
}
.contact7input-text-area {
}
.contact7input-textarea-area {
}
.contact7item {
    border: 1px solid $white;
}
.contact7check-area {
    margin-top: rem(50);
    text-align: center;
}
.contact7check {
}
.contact7button-area {
    margin-top: rem(26);
    text-align: center;
}
.contact7button-area input {
    width: 204px;
    border: 1px solid $white;
    padding: 16px;
    border-radius: 5px;
    font-weight: bold;
    color: $white;
    font-family: $yugothic;
    font-size: 16px;
}
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.contact7item,
.wpcf7-form-control.wpcf7-text.contact7item,
.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.contact7item,
.wpcf7-form-control.wpcf7input-text-area {
    width: 155%;
    border-radius: 5px;
    padding: 7px 20px;
    color: #fff;
    background-color: transparent;
    @include mq("mm") {
        width: 100%;
    }
    @include mq("md") {
        margin-top: rem(20);
        width: 100%;
    }
}

select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required.contact7item {
    width: 200%;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    @include mq("mm") {
        width: 128%;
    }
    @include mq("md") {
        margin-top: rem(20);
        width: 100%;
    }
}

.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.contact7item {
    width: 155%;
    padding: 7px 20px;
    border-radius: 5px;
    color: $white;
    font-size: 16px;
    @include mq("mm") {
        width: 106%;
    }
    @include mq("md") {
        margin-top: rem(20);
        width: 100%;
    }
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border: 1px solid $white;
}

.contact7content,
.contact7check-area {
    font-size: 16px;
    font-weight: 500;
    font-family: $yugothic;
    line-height: 1.75;
    @include mq(md) {
        font-size: 14px;
    }
}


select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required.contact7item::before {
    border-bottom: 4.5px solid $white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    position: absolute;
    right: 9px;
    top: 10px;
    width: 0;
    color: $white;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    background-color: transparent !important;
    color: #fff !important;
}




