@use "global" as *;

.facility-box__inner {
    max-width: rem(1076);
    width: 100%;
    margin: 0 auto;
    padding-left: rem(20);
    padding-right: rem(20);
}

.facility-box__container {
    color: #000;
    font-size: 28px;
    font-size: 1.75rem;
    font-family: "Yu Mincho", "YuGothic", sans-serif;
    line-height: 1.7;
    font-weight: 500;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.facility-box__left,
.facility-box__center,
.facility-box__right {
    background-color: #fff;
    width: calc(100% / 3 - rem(32));
    margin-left: rem(16);
    flex-grow: 1;
    // width: 348px;
    // width: 21.75rem;
    // height: 90px;
    // height: 5.625rem;
    padding-top: 18px;
    padding-top: 1.125rem;
}

.facility-box__left {
    margin-left: rem(0);
}

.facility-box__icon {
    padding-top: 26px;
    padding-top: 1.625rem;
    background-image: url(../images/common/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    width: 1.5rem;
    height: 23px;
    height: 1.4375rem;
    margin: auto;
}
