@use 'global' as *;

.footer {

}

.footer__inner {
}
.footer__container {
    background-color: $gray;
    padding: rem(100) 0 rem(106);
}
.footer__content {
    display: flex;
    justify-content: space-between;
    max-width: rem(1076);
    width: 100%;
    padding-left: rem(145);
    @include mq(md) {
        display: block;
    }
}
.footer__left {
    padding-right: rem(124);
    border-right: 1px solid $white;
}
.footer__logo {
    max-width: rem(160);
    width: 100%;
    flex-shrink: 0;
}
.footer__right {
    margin-left: 9.6%;
    font-size: rem(20);
    flex: 1;
    @include mq(md) {
        margin-left: 0;
        margin-top: rem(30);
    }
}
.footer__nav {

}
.footer__list-item {

}
.footer__list-item + .footer__list-item {
    margin-top: rem(50);
    @include mq(md) {
        margin-top: rem(0);  
    }
}
.footer__list-item span {
    font-size: rem(16);
    padding-left: rem(50);
}


// SNSアイコン部分
.footer__sns {
    background-color: $white;
    color: $black;
    padding: rem(30) 0;
}
.footer__lists {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__list {
    width: rem(45);
    @include mq('md') {
       width: rem(85); 
    }
}
.footer__list + .footer__list {
    margin-left: rem(24);
}
.footer__list-big1,
.footer__list-big2 {
    width: rem(72);
    @include mq('md') {
       width: rem(130); 
    }
}
.footer__list.footer__list-big1 {
    margin-left: rem(10);
}
.footer__list.footer__list-big2 {
    margin-left: rem(-10);
}
.footer__list a {

}

// コピーライト
.footer__copy-box {
    max-width: rem(443);
    width: 100%;
    margin: 0 auto;
    display: flex;
    font-size: rem(14);
    font-weight: 500;
    font-family: $yugothic;
    align-items: center;
    justify-content: space-between;
    padding: rem(4) 0;
    white-space: nowrap;
    @include mq(md) {
        flex-direction: column;
        justify-content: center;
        font-size: rem(12);
    }
}
.footer__cancel-policy {
    flex-shrink: 1;
}
.footer__copyright {
    margin-left: rem(20);
    flex-shrink: 1;
    @include mq(md) {
        margin-left: rem(0);
        
    }
}
