@use 'global' as *;

.footer {

}

.footer__inner {

}
.footer__container {

}
.footer__left {

}
.footer__logo {

}
.footer__right {

}
.footer__nav {

}
.footer__list {

}
.footer__list-item {

}
.footer__list-item span {

}


// SNSアイコン部分
.footer__sns {
    background-color: $white;
    color: $black;
}
.footer__lists {
    display: flex;
}
.footer__list {

}
.footer__list a {

}

// コピーライト
.footer__copy {
    display: flex;
}
.footer__cancel-policy {

}
.footer__copyright {

}
