@use 'global' as *;

.gallery {

}

.gallery__inner {

}

.gallery__title-area {

}
.gallery__title-ja {

}
.gallery__title-en {

}
.gallery__container {
    margin-top: rem(98);
    padding-left: rem(32);
    width: 100%;
}

.gallery__button-area {
    margin-top: rem(94);
    text-align: center;
}

.gallery__button {

}
