@use 'global' as *;

.header {
    background: $black;
    height: 90px;
    z-index: 11111;
    width: 100vw;
    transition: background-color .8s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include mq('sm') {
       height: 60px; 
    }
    @include mq('ss') {
       height: 50px; 
    }
}

#header.fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 rem(20) 0 0;
}

.header__logo {
    margin-top: rem(77);
    width: 214px;

    @include mq('lg') {
        // hamburgerと連動
        margin-top: rem(40);
        width: rem(130);
    }

    @include mq('md') {
        margin-top: 20px;
        width: 100px;
    }
    @include mq('sm') {
       margin-top: 30px; 
    }
    @include mq('ss') {
       margin-top: 5px;
    }
}

/*======================================
pc版のナビメニュー                                 
======================================*/
.header__nav {
    text-transform: uppercase;
    margin-left: auto;

    @include mq('ll') {
        display: none;
    }
}

.header__nav-items {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__nav-item {
    height: inherit;
    letter-spacing: 0.06em;
}

.header__nav-item+.header__nav-item {
    margin-left: rem(28);
}

.header__nav-item a {
    color: $white;
    height: inherit;
    font-size: 16px;
    font-family: $sawarabi;
    line-height: 1.75;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(8);
    position: relative;
}

.header__nav-item a::before {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 28%;
    width: 45%;
    height: rem(1);
    background: $white;
    visibility: hidden;
}

.header__nav-item a:hover::before {
    transition: all 0.3s ease 0s;
    visibility: visible;
}

.header__nav-item.header__nav-item--white a:hover::before {}

.header__nav-item.header__nav-item--white {
    display: flex;
    border: 1px solid $white;
    padding: rem(6) rem(12) rem(6) rem(16);
    margin-left: rem(60);
}

.header__nav-item.header__has-sub {
    padding: rem(7);
    margin-left: rem(49);
    border: 1px solid $white;
    height: inherit;
}

.header__nav-item.header__nav-item--white a {
    color: $white;
    padding-right: rem(15);
}

.header__nav-item.header__has-sub a::before,
.header__nav-item.nav-item--white a::before {
    visibility: hidden;
}

.header__nav-item-icon {
    background-image: url(../images/common/icon-air.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: rem(16);
    height: rem(16);
    margin: auto;
}


/*======================================
Englishホバー時表示メニュー                                        
======================================*/
.header__has-sub {
    position: relative;

    .header__sub {
        display: none;
    }
}

.header__has-sub:hover {
    .header__sub {
        display: block;
    }
}

.header__container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 38%;
    bottom: rem(-80);
    transform: translateX(-50%);
    height: rem(60);
    width: rem(200);
}

.header__sub-text {
    padding-top: rem(14);
    background-color: $black;
    padding-bottom: rem(8);
}

.header__sub-text a img {
    width: rem(50);
}

/*======================================
sp版（1280px以下）のモーダル内メニュー                                       
======================================*/
.header__sp-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $black;
    width: 100vw;
    height: 100vh;
    // position: fixed;
    transform: translateX(-100vw);
    transition: all .3s linear;
    z-index: 8888;

    @include mq('ll') {
        display: block;
    }
}

.header__sp-nav.is-checked {
    // display: block;
    transform: translateX(0);
}

.header__sp-nav-items {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header__sp-nav-item {
    width: 100%;
}

.header__sp-nav-item a {
    display: block;
    width: 100%;
    padding-top: rem(16);
    padding-bottom: rem(16);
    text-align: center;
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
}