@use 'global' as *;

.header {
    background: $black;
    height: 90px;
    z-index: 11111;
    width:100vw;
    transition: background-color .8s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#header.fixed{
    position: fixed;
      z-index: 999;
      top:0;
      left:0;
  }
  

.header__inner {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 rem(30) 0 rem(20);
}

.header__logo {
    width: rem(158);
}

/*======================================
pc                                        
======================================*/
.header__nav {
    text-transform: uppercase;
}   

.header__nav-items {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__nav-item {
    height: inherit;
    letter-spacing: 0.06em;
}
.header__nav-item + .header__nav-item {
    margin-left: rem(28);
}
.header__nav-item a {
    color: $white;
    height: inherit;
    font-size: rem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(12);
    position: relative;
}

.header__nav-item a::before {
    position: absolute;
    content: "";
    bottom: rem(6);
    left: 3%;
    width: 90%;
    height: rem(1);
    visibility: hidden;
}

.header__nav-item a:hover::before {
    transition: all 0.3s ease 0s;
    visibility: visible;
}

.header__nav-item.header__nav-item--white a:hover::before {
    visibility: hidden;
}

.header__nav-item.header__nav-item--white {
    padding: rem(4);
    margin-left: rem(28);
    display: flex;
    border: 1px solid $white;
}

.header__nav-item.header__nav-item--white a {
    color: $white;
    padding: 0 rem(27);
}

.header__nav-item.nav-item--white a:hover {
    background: $gray;
    color: $white;
    transition: all 0.3s ease 0s;
} 
.header__nav-item-icon {
    background-image :url(../images/common/icon-air.png);
    background-position :center;
    background-repeat :no-repeat;
    width: rem(50);
    height: rem(30);
    margin: auto;
}

/*======================================
sp                                        
======================================*/
.header__sp-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $black;
    width: 100%;
    height: 100vh;
    z-index: 8888;
    @include mq(md) {
        display: none;
    }
}


.header__sp-nav-items {
    padding-top: rem(150);
    padding-bottom: rem(100);
    height: 100vh;
    overflow: scroll;
}

.header__sp-nav-item a {
    display: block;
    width: 100%;
    padding-top: rem(16);
    padding-bottom: rem(16);
    text-align: center;
    color: $white;
    font-size: rem(16);
}
