@use 'global' as *;

.introduction {

}

.introduction__inner {

}

.introduction__title-area {

}

.introduction__title--ja{

}

.introduction__title--en {

}

.introduction__whole-wrapper{

}

.introduction__container {
    display: flex;
}

.introduction__container-hana {
    justify-content: flex-start;
}

.introduction__container-even {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.introduction__each-wrapper {
    margin-top: rem(213);
    padding-bottom: rem(100);
    position: relative;
}   

.introduction__each-wrapper::after {
    position: absolute;
    content: "";
    display: block;
    background-color: $white;
    width: 100%;
    height: 1px;
    left: 0;
    bottom : 0;

}
.introduction__image-big {
    width: 100%;
    max-width: rem(649);
    position: relative;
}
.introduction__image-big::before {
    content:"";
    display: block;
    padding-top: 100%; 
}
.introduction__image-big img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.introduction__room-name {
    margin-top: rem(288);
    margin-left: rem(74);
    writing-mode: vertical-rl;
    font-size: rem(63);
    font-family: $yumincho;
    font-weight: 800;
    line-height: 1.7;
    letter-spacing: 0.5em;
}

.introduction__room-name-tsuki {
    margin-top: rem(305);
}
.introduction__container-even > .introduction__room-name {
    margin-right: rem(60);
}

.introduction__image-wrapper {
    margin-top: rem(-150);
    margin-left: rem(65);
    width: rem(386);
}

.introduction__image-wrapper-tora {
    margin-top: rem(-171);
    margin-left: rem(94);
}

.introduction__image-wrapper-tsuru {
    margin-top: rem(-171);
    margin-left: rem(91);
}

.introduction__image-small {
    width: 100%;
    position: relative;
}
.introduction__image-small::before {
    content:"";
    display: block;
    padding-top: 135%; 
}
.introduction__image-small img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.introduction__person {
    margin-top: rem(58);
    text-align: center;
    font-size: rem(26);
    position: relative;
}

.introduction__person::after{
    position: absolute;
    bottom: -23px;
    left: 43%;
    content: "";
    width: 61px;
    border-bottom: 1px solid yellow;
}

.introduction__capacity {
    margin-top: rem(48);
    text-align: center;
    font-size: rem(20);
}

.introduction__breadth {
    margin-top: rem(8);
    text-align: center;
    font-size: rem(20);
}
.introduction__text-area {
    margin-top: rem(128);
    margin-left: auto;
    margin-right: auto;
    max-width: rem(1076);
    width: 100%;
    background-color: $white;
    color: $black;
}

.introduction__text-area-tsuki {
    margin-top: rem(143);
}

.introduction__text-area-shizuku {
    margin-top: rem(157);
}

.introduction__text-area-niji {
    margin-top: rem(157);
}

.introduction__text {
    padding: rem(46) rem(50);
    font-size: rem(16);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.75;
}

.introduction__text-tora {
    padding: rem(50) rem(50) rem(25);
}

.introduction__text-shizuku {
    padding: rem(50) rem(50) rem(34);
}

.introduction__text2 {
    padding: 0 rem(53) rem(53);
}

.introduction__text2-tora {
    padding: 0 rem(53) rem(40);
}

.introduction__text2-shizuku {
    padding: 0 rem(53) rem(43);
}

.introduction__button-area {
    margin-top: rem(47);
    text-align: center;
}

.introduction__button-area-shizuku {
    margin-top: rem(70);
}

.introduction__button-area-tsuru {
    margin-top: rem(63);
}

.introduction__button {

}

.introduction__each-wrapper.introduction__each-wrapper-hana {
    padding-bottom: rem(170);
}
.introduction__each-wrapper.introduction__each-wrapper-tsuki {
    margin-top: rem(360);
    padding-bottom: rem(165);
}
.introduction__each-wrapper.introduction__each-wrapper-tora {
    margin-top: rem(375);
    padding-bottom: rem(179);
}
.introduction__each-wrapper.introduction__each-wrapper-shizuku {
    margin-top: rem(356);
    padding-bottom: rem(173);
}
.introduction__each-wrapper.introduction__each-wrapper-tsuru {
    margin-top: rem(376);
    padding-bottom: rem(150);
}
.introduction__each-wrapper.introduction__each-wrapper-nizi {
    margin-top: rem(355);
    padding-bottom: rem(144);
}

//グレーの背景
.introduction__each-wrapper-hana,
.introduction__each-wrapper-tsuki,
.introduction__each-wrapper-tora,
.introduction__each-wrapper-shizuku,
.introduction__each-wrapper-tsuru,
.introduction__each-wrapper-nizi {
    position: relative;
    z-index: 2;
}
.introduction__each-wrapper-hana::before,
.introduction__each-wrapper-tora::before {
    z-index: -2;
    position: absolute;
    display: block;
    background-color: $gray;
    content: "";
    right: 0;
    top: rem(220);
    width: rem(833);
    height: rem(1250);
}
.introduction__each-wrapper-tsuki::before {
    z-index: -2;
    position: absolute;
    display: block;
    background-color: $gray;
    content: "";
    left: 0;
    top: rem(950);
    width: rem(958);
    height: rem(612);
}
.introduction__each-wrapper-tsuru::before {
    z-index: -2;
    position: absolute;
    display: block;
    background-color: $gray;
    content: "";
    left: 0;
    top: rem(205);
    width: rem(958);
    height: rem(612);
}
// .introduction__background1,
// .introduction__background2,
// .introduction__background3,
// .introduction__background4 {
//     background-color: $gray;
//     z-index: -2;
//     position: absolute;

// }
// .introduction__background1,
// .introduction__background3 {
//     right: 0;
//     top: rem(220);
//     width: rem(833);
//     height: rem(1250);
// }

// .introduction__background2 {
//     left: 0;
//     top: rem(950);
//     width: rem(958);
//     height: rem(612);

// }
// .introduction__background4 {
//     left: 0;
//     top: rem(205);
//     width: rem(958);
//     height: rem(612);
// }
