@use "global" as *;

.items {
    display: flex;
    margin-top: rem(40);
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    @include mq(md) {
        margin-top: rem(80);
        width: 100%;
        display: block;
        margin: auto;
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - rem(32));
    margin-left: rem(16);
    flex-grow: 1;
    position: relative;
    @include mq(md) {
        max-width: rem(600);
        width: 100%;
        margin: rem(80) auto 0;
    }
}

.item:first-child {
    margin-left: rem(0);
    @include mq(md) {
        margin: auto;
    }
}

.item-box {
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 1px $white;
    @include mq(md) {
        font-size: max(2vw,12px);
    }
}

.item-box__sub-title-ja {
    font-size: rem(24);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.7;
    text-align: center;
    position: relative;
}

.item-box__sub-title-ja::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    right: -35px;
    width: 24px;
    height: 4px;
    border: none;
    border-right: 2px solid #fff;
    border-bottom: 1.5px solid #fff;
    transform: skew(45deg);
    transition: 0.3s;
}

.item-box__sub-title-en {
    font-size: rem(16);
    font-family: $sub-font-family;
    line-height: 1.125;
    text-align: center;
}

.item-box__head,
.item-box__body {
    border: 1px solid $white;
}

.item-box__body {
    position: relative;
    padding: rem(70) rem(60) rem(40);
    margin-top: rem(52);
    @include mq(md) {
        text-align: center;
    }
}
.item-box__head {
    display: inline-block;
    padding: rem(8) rem(47) rem(8) rem(52);
    background: #000;
    position: absolute;
    top: -13%;
    left: 8%;
    @include mq(md) {
        left: 20%;
    }
}

.item-box__info .card-box__text {
    font-size: rem(16);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.7;
    margin-top: rem(30);
}

.card-box__text {
    margin-top: rem(33);
    line-height: 1.3;
}
