@use "global" as *;

.items {
    display: flex;
    margin-top: rem(40);
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    @media screen and (max-width:1000px) {
        margin-top: rem(80);
        width: 100%;
        display: block;
        margin: auto;
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - rem(32));
    margin-left: rem(16);
    flex-grow: 1;
    position: relative;
    @media screen and (max-width:1000px) {
        max-width: rem(600);
        width: 100%;
        margin: rem(80) auto 0;
    }
}

.item:first-child {
    margin-left: rem(0);
    @media screen and (max-width:1000px) {
        margin: auto;
    }
}

.item-box {
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 1px $white;
}

.item-box__sub-title-ja {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.7;
    text-align: center;
    position: relative;
    padding-right: 30px;
    @include mq(md) {
        font-size: 16px;
        line-height: 1;
    }
    @include mq(ss) {
        font-size: 14px;
        padding-right: 5%;
    }
}

.item-box__sub-title-ja::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    width: rem(24);
    height: 4px;
    border: none;
    border-right: 2px solid #fff;
    border-bottom: 1.5px solid #fff;
    transform: skew(45deg);
    transition: 0.3s;
}

.item-box__sub-title-en {
    font-size: rem(16);
    font-family: $sub-font-family;
    line-height: 1.125;
    text-align: center;
}

.item-box__text-box {
    font-size: 16px;
    @include mq(md) {
        font-size: 14px;
    }
    @include mq(ss) {
        font-size: 12px;
    }
}

.item-box__head,
.item-box__body {
    border: 1px solid $white;
}

.item-box__body {
    position: relative;
    padding: 70px 0 40px 56px;
    margin-top: rem(52);
    @media screen and (max-width:1000px) {
        text-align: center;
        padding: rem(70) 0 rem(56);
    }
}
.item-box__head {
    display: inline-block;
    text-align: center;
    max-width: rem(285);
    width: 100%;
    padding: rem(8) 0 rem(8);
    background: #000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width:1000px) {
        max-width: 40rem;
        padding: rem(10) 0;
    }
}


.item-box__info .card-box__text {
    font-size: rem(16);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.7;
    margin-top: rem(30);
}

.card-box__text {
    margin-top: rem(33);
    line-height: 1.3;
}
