@use 'global' as *;

.layout-breadcrumb {
    margin-top: rem(5);
    margin-left: rem(145);
    height: inherit;
    display: flex;
    @include mq('xl') {
       margin-left: rem(100);
       padding-left: rem(47);
       font-size: 12px;
    }
    @include mq('ll') {
        margin-left: 0;
    }
}