@use 'global' as *;

.layout-box {
    margin-top: rem(320);
    font-size: rem(36);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.7;
    @include mq('ll') {
       margin-top: rem(220); 
    }
}

.room-box.layout-box {
    margin-top: rem(315);
}