@use 'global' as *;

.message {
    background-image: url(../images/top/background-message-top.png);
    background-position :center;
    background-size :cover;
    background-repeat: no-repeat;
    font-family: $sub-font-family;
}

.message__inner {

}

.message__container {
    text-align: center;
    font-size: 24px;
    line-height: 2.4;
    @include mq(md) {
        font-size: 20px;
    }
    @include mq(ss) {
        font-size: 14px;
        line-height: 1.7;
    }
}

.message__text-area {
    font-family: $sub-font-family;
}

.message__text1 span {
    font-family: $sawarabi;
}

.message__text2 {
    margin-top: rem(70);
    font-size: 24px;
    @include mq(md) {
        font-size: 20px;
    }
    @include mq(ss) {
        font-size: 14px;
        line-height: 1.7;
    }
}

.message__button-area {
    margin-top: rem(80);
    display: flex;
    justify-content: center;
}

.message__button {

}

