@use 'global' as *;

.mv-sub {

}
.mv-sub__inner {

}
.mv-sub__background {
    width: rem(646);
    height: rem(110);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mv-sub__image {
    width: 100%;
    position: relative;
}
.mv-sub__image::before {
    content:"";
    display: block;
    padding-top: 21%; 
}
.mv-sub__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.mv-sub__title-ja,
.mv-sub__title-en {
    color: $black;
    position: absolute;
}
.mv-sub__title-ja{
    font-size: rem(36);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $notoserif;
    text-transform: uppercase;
}
.mv-sub__title-en {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $sub-font-family;
    text-transform:capitalize;
}