@use 'global' as *;

.mv {
    // 後で消す
    margin-top: 58px;

}

.mv__inner {
    position: relative;
}

.mv__title {
    position: absolute;
    font-size: rem(63);
    bottom: rem(144);
    left: rem(58);
    letter-spacing: 0.13em;
    z-index: 2;
<<<<<<< HEAD
    font-family: $sawarabi;
=======
    
>>>>>>> 49ec11638cfe6197a5089ab79016b44ce8b592e6
}

.mv__wrapper {
    display: flex;
    z-index: -1;
}
.mv__image {
    position: relative;
    width: rem(1152);
    height: rem(814);
    margin-left: auto;
}
.mv__image::before {
    content:"";
    display: block;
    padding-top: 70.6597%; 
}
.mv__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.mv__background {
    margin-top: auto;
    background-color: $gray;
    width: 40%;
    height: rem(636);
    z-index: -1;
    position: relative;
}