@use 'global' as *;

.mv {

}

.mv__inner {
    display: flex;
}

.mv__image {
    width: 100%;
    position: relative;
}
// .mv__image::before {
//     content:"";
//     display: block;
//     padding-top: 70.6597%; 
// }
.mv__image img {
    position: absolute;
    top: 50%;
    right:0%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    width: rem(1152);
    height: rem(814);

    object-fit: cover;
    object-position: center;
}

.mv__title {
    color: green;
}