@use 'global' as *;

.mv {
    padding-top: 58px;
}
.mv__inner {
    overflow: hidden;
}
.mv__background {
    display: inline-block;
    margin-top: auto;
    background-color: $gray;
    width: 15.6617%;
    height: rem(636);
    z-index: -1;
}
// relativeでも可
.mv__title-adjust {
    margin-top: rem(-600);
    background-color: transparent;
    background-color: red;
    width:  rem(500);
    height: rem(545);
    @include mq('md') {
       width: rem(496);
       height: rem(448);
    }
    @include mq('sm') {
        width: rem(512);
        height: rem(480);
    }
    @include mq('ss') {
        width: 175px;
        height: 164px;
    }
}
.mv__title {
    position: absolute;
    font-size: rem(63);
    top: 42%;
    left: rem(58);
    letter-spacing: 0.13em;
    font-family: $sawarabi;
    z-index: 10;
}

.mv__wrapper {
    display: flex;
}

.mv__image {
    position: relative;
    width: rem(1152);
    padding-top: 59.6%; 
    @include mq('ll') {
       padding-top: 85%; 
    }
}
.mv__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

