@use "global" as *;

.pagenation {
    max-width: rem(540);
    width: 100%;
    margin: rem(50) auto;
    text-align: center;
}

.page-numbers {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: $yugothic;
    border: 1px solid $white;
    border-radius: 10px;
    padding: 9px 14px;
    margin-right: rem(8);
    @include mq(md) {
        font-size: 14px;
        border-radius: 5px;
        padding: 4px 7px;
    }
    @include mq(ss) {
        font-size: 12px;
    }
}

/* ページネーション（共通）＞ 現在のページ番号 */
.pagination .current {
    color: $black;
    background-color: $white;
}

.pagination .prev,
.pagination .next {
    padding: 7px 13px 8px 14px;
    @include mq(md) {
        padding: 3px 6px 4px 7px;
    }
}

/* ページネーション（共通）＞ 前へ */
.pagination .prev {
    margin: 0 rem(8) 0 0;
}

/* ページネーション（共通）＞ ドット */
// .pagination .dots {
//     margin: 0;
// }

.pagination .dots:hover,
.pagination .dots:focus {
    color: $black;
    background-color: $white;
}

