@use 'global' as *;

.plan {
border: 1px solid $white;
margin-top: rem(55);
}

.plan__inner {
    max-width: rem(1076);
    width: 100%;
    margin: 0 auto;
}

.plan__contents {
    max-width: rem(673);
    width: 100%;
    margin: auto;
    padding: rem(54) 0 rem(50);
    font-size: 20px;
    font-family: $yumincho;
    font-weight: 500;
    line-height: 1.7;
    @include mq(md) {
        font-size: 16px;
    }
    @include mq(ss) {
        font-size: 12px;
    }
}

.plan__items {
    display: flex;
}

.plan__item2 {
    margin-left: rem(100);
    @include mq(md) {
        margin-left: rem(50);
    }
}

.plan__text1 {
    margin-top: rem(45);
}

