@use 'global' as *;

.privacy-policy-box {

}
.privacy-policy-box__inner {
    margin-left: rem(284);
    margin-right: rem(284);
}
.privacy-policy-box__container {
    color: $black;
    font-size: rem(26);
    font-family: $yumincho;
    text-align: center;
    display: flex;
    justify-content: space-between;
    @include mq('ll') {
       flex-direction: column; 
       align-items: center;
    }
}

.privacy-policy-box__left,
.privacy-policy-box__right {
    background-color: $white;
    width: rem(348);
    height: rem(90);
    padding-top: rem(18);
    @include mq('sm') {
        width: rem(432);
        height: rem(112);
    }
}

.privacy-policy-box__right {
    @include mq('ll') {
       margin-top: rem(20); 
    }
}
.privacy-policy-box__title {

}

.privacy-policy-box__icon {
    padding-top: rem(26);
    background-image :url(../images/common/arrow.png);
    background-position :center;
    background-repeat :no-repeat;
    width: rem(24);
    height: rem(30);
    margin: auto;
    @include mq('sm') {
       width: rem(32);
       height: rem(0); 
    }
}

