@use 'global' as *;

.privacy-policy {

}
.privacy-policy__inner {
    max-width: rem(1060);
    width: 100%;
    margin: 0 auto;
}
.privacy-policy__title-area {

}

.privacy-policy__title-ja {
    font-family: $notoserif;
}

.privacy-policy__container {
    margin-top: rem(130);
}
.privacy-policy__wrapper1 {

}
.privacy-policy__index {
    font-size: rem(24);
}
.privacy-policy__text1-1,
.privacy-policy__text2-1,
.privacy-policy__text3-1,
.privacy-policy__text4-1,
.privacy-policy__text5-1,
.privacy-policy__text6-1,
.privacy-policy__text7-1,
.privacy-policy__text8-1,
.privacy-policy__text9-1 {
    padding-top: rem(16);
}
.privacy-policy__text1-2,
.privacy-policy__text1-3,
.privacy-policy__text1-4,
.privacy-policy__text2-2,
.privacy-policy__text3-2,
.privacy-policy__text7-2,
.privacy-policy__text7-3,
.privacy-policy__text7-4,
.privacy-policy__text8-2,
.privacy-policy__text8-4,
.privacy-policy__text8-6 {
    padding-top: rem(20);
}
.privacy-policy__text-title1-5,
.privacy-policy__text-title6-2,
.privacy-policy__text-title6-4 {
    padding-top: rem(20);
}
.privacy-policy__wrapper2 {
    margin-top: rem(70);
}
.privacy-policy__wrapper3 {
    margin-top: rem(70);
}
.privacy-policy__wrapper4 {
    margin-top: rem(70);
}
.privacy-policy__wrapper5 {
    margin-top: rem(70);
}
.privacy-policy__wrapper6 {
    margin-top: rem(70);
}
.privacy-policy__wrapper7 {
    margin-top: rem(70);
}
.privacy-policy__wrapper8 {
    margin-top: rem(70);
}
.privacy-policy__wrapper9 {
    margin-top: rem(70);
}
