@use 'global' as *;

.privacy-policy {

}
.privacy-policy__inner {
    max-width: rem(1060);
    width: 100%;
    margin: 0 auto;
}
.privacy-policy__title-area {

}

.privacy-policy__container {
    margin-top: rem(130);
}
.privacy-policy__wrapper1 {

}
.privacy-policy__index {
    font-size: rem(24);
}
.privacy-policy__text {

}
.privacy-policy__text-title {

}
.privacy-policy__wrapper2 {
    
}
.privacy-policy__wrapper3 {

}
.privacy-policy__wrapper4 {

}
.privacy-policy__wrapper5 {

}
.privacy-policy__wrapper6 {

}
.privacy-policy__wrapper7 {

}
.privacy-policy__wrapper8 {

}
.privacy-policy__wrapper9 {

}
