@use 'global' as *;

.qa {

}

.qa__inner {
    max-width: rem(1060);
    width: 100%;
    margin: 0 auto;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
}

.qa__contents {
    margin-top: rem(66);
}

// アコーディオン
.qa__content > li {
    list-style: none;
    border: 2px solid $white;
    @include mq('md') {
       border: 1px solid $white; 
    }
}

.qa__label  {
    cursor: pointer;
    position: relative;
    padding-top: rem(20);
    padding-bottom: rem(20);
    background-color: $white;
    color: $black;
}

.qa__label {
    margin-top: rem(34);
}

.qa__label1 {
    margin-top: 0;
}
.qa__label::before {
    content: "";
    background-image: url(../images/qa/Q.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 10px;
     @media screen and (max-width:600px){
        top: 33%;
        width: 15px;
        height: 15px;
    } 
    @media screen and (max-width:450px){
        left: 4px;
    }
}

.qa__label > p {
    padding-left: rem(50);
    padding-top: rem(0);
    padding-bottom: rem(0);
    font-size: rem(16);
    @include mq('md') {
       padding-right: rem(50);
    }
    @include mq('ss') {
       padding-right: rem(70); 
    }
}


.qa__answer {
    display: none;
}

.qa__answer > p {
    font-size: rem(16);
    padding-left: rem(50);
    padding-top: rem(10);
    padding-bottom: rem(12);
    position: relative;
}

.qa__answer > p::before {
    position: absolute;
    content: "";
    background-image: url(../images/qa/A.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    left: 10px;
    @include mq('md') {
       margin-top: -3px; 
    }
     @media screen and (max-width:600px){
        margin-top: 0;
        width: 15px;
        height: 15px;
    } 
    @media screen and (max-width:450px){
        left: 4px;
    }

}
/*======================================
アイコン                                        
======================================*/
.icon-wrap {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    @include mq('md') {
       width: 28px;
       height: 28px; 
    }
    @media screen and (max-width:600px){
        width: 20px;
        height: 20px;
    } 

}

.icon {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

}
  /* プラスアイコン */
  /* ２本の線を.icon-wrapの中央に並行に重ねる */
.icon:before,
.icon:after {
    position: absolute;
    content: "";
    display: block;
    transition: all 0.4s;
    background: #b3b3b3;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 2px;
    transform: translate(-50%, -50%);
}

  /* そのうち1本を縦にする */
.icon:before {
    transform: translate(-50%, -50%) rotate(90deg);
}
  
/* プラスアイコンクリック後、マイナスにする */
.icon.open:before {
    transform: translate(-50%, -50%) rotate(0deg);
}