@use "global" as *;

.recruit__bg-image {
    background-image: url("../images/top/staff.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: rem(500);
    // display: grid;
    // place-items: center; 
    max-width: rem(1078);
    width: 100%;
    margin: 0 auto;
    @include mq('ll') {
       max-width: rem(1028); 
    }
}
.recruit__inner {
 
}

.recruit__title-area.section-title{
    padding-top: rem(70);
}

.recruit__title-ja {
}
.recruit__title-en {
}

.recruit__message {
    text-align: center;
    font-size: rem(16);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.75;
    color:$white;
    padding-top: rem(70);
}

.recruit__button-area {
    margin: rem(86) auto 0;
    text-align: center;
    @include mq('md') {
       margin-top: rem(50); 
    }
}

.recruit__button {
}
