@use "global" as *;

.reservation {
}

.reservation__inner {
    max-width: rem(987);
    width: 100%;
    margin: 0 auto;
    padding-left: $padding-pc;
    padding-right: $padding-pc;    
    @include mq(ll) {
        padding-left: $padding-sp;
        padding-right: $padding-sp;
    }
}

.reservation__container {
    background-color: $white;
    height: rem(176);
    width: 100%;
    max-width: rem(937);
    margin: 0 auto;
    @include mq('sm') {
       height: rem(192); 
    }
    @media screen and (max-width:450px){
        height: rem(240);
    }
    @include mq('ss') {
        height: rem(280);
    }
}

.reservation__title-area {
    padding-top: rem(36);
    color: $black;
    text-align: center;
}

.reservation__title--ja {
    font-size: rem(34);
    @include mq('md') {
       font-size: 20px; 
    }
}
.reservation__title--ja.section-title__ja {
    @include mq('ss') {
        font-size: 18px; 
     }
 }
.reservation__title--en.section-title__en {
    @include mq('ss') {
        font-size: 14px; 
     }
}

.reservation__icon {
    padding-top: rem(70);
    background-image: url(../images/common/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
}
.reservation__title--en {
    margin-top: rem(-6);
    margin-left: rem(28);
    font-family: $sub-font-family;
    @include mq('md') {
       font-size: 16px; 
    }
}


.reservation__icon {
    padding-top: rem(82);
    background-image :url(../images/common/arrow.png);
    background-position :center;
    background-repeat :no-repeat;
    width: rem(50);
    height: rem(30);
    margin: auto;
    @include mq("sm") {
        padding-top: 0;
    }
}

/* モーダルウィンドウ */
.reserve__modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: rem(1076);
    width: 100%;
    height: rem(562);
    background-color: #ffff;
    border: solid 1px #707070;
    z-index: 11;
    @include mq(md) {
        height: 60%;
        max-width: 100%;
        z-index: 12;
    }
}

.search-panel-frame {
z-index: 99;
}

button.reservation__modal {
    display: contents;
}

/* 閉じるボタン */
.button-close {
    z-index: 12;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0px;
    right: 30px;
    font-size: 2rem;
    background-color: #fff;
    cursor: pointer;
    border-style: none;
    @include mq(md) {
        font-size: 3rem;
        top: rem(30);
        right: rem(30);
    }
}

//オーバーレイ
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.directin-sp-form .directin-sp-form-submit-button button {
    @include mq(md) {
        padding: 8px 12px!important;
    }
}


