@use "global" as *;

.room-sub__inner {
    max-width: rem(1076);
    width: 100%;
    margin: auto;
}

.room-sub__text-area {
    text-align: center;
    font-weight: 500;
    line-height: 1.75;
    font-family: $yugothic;
    font-size: 16px;
    @include mq(md) {
        font-size: 14px;
    }
    @include mq(ss) {
        font-size: 12px;
    }
}

.room-sub__text2 {
    margin-top: rem(28);
}


