@use 'global' as *;
.room__inner {
    max-width: rem(1076);
    width: 100%;
    margin: rem(57) auto;
    @include mq('ll') {
        padding-left: $padding-sp;
        padding-right: $padding-sp; 
     } 
}

.room__title {
    position: relative;
    font-size: rem(36);
    font-family: $yumincho;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
}

.room__title:before {
    display: inline-block;
    position: absolute;
    content: '';
    bottom: rem(-5);
    left: 50%;
    width: rem(52);
    height: 1px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: $white;
}

.room__text-area {
    text-align: center;
    margin-top: rem(38);
    font-size: rem(16);
    font-family: $yugothic;
    font-weight: 500;
    line-height: 1.75;
    @include mq('md') {
       font-size: 16px; 
    }
}

.room__text2 {
    margin-top: rem(33);
}

.room__border-line {
    border-top: 3px solid $white;
    width: rem(583);
    margin: rem(180) auto 0;
}

