@use "global" as *;

.roomplan__inner {
    max-width: rem(1116);
    width: 100%;
    margin: 0 auto;
    padding-left: rem(20);
    padding-right: rem(20);
}

.roomplan__container {
    color: #000;
    font-size: 28px;
    font-size: 1.75rem;
    font-family: "Yu Mincho", "YuGothic", sans-serif;
    line-height: 1.7;
    font-weight: 500;
    text-align: center;
    display: flex;
}

.roomplan__left,
.roomplan__center,
.roomplan__right {
    background-color: #E9E9E9;
    width: calc(100% / 3 - rem(32));
    margin-left: rem(16);
    flex-grow: 1;
    padding: rem(20) 50px rem(20) rem(20);
    position: relative;
    @include mq(md) {
        padding: rem(20) rem(20) rem(20) rem(5);
    }
}

.roomplan__left::before,
.roomplan__center::before,
.roomplan__right::before {
	content: '';
	position: absolute;
	top: calc(48% - 2px);
	right: 0;
	transform: translateY(calc(-48% - 2px)) rotate(45deg);
	width: 2.8%;    
	height: 1px;
	background: $black;
    @include mq(md) {
        top: calc(52% - 1px);
        transform: translateY(calc(-52% - 1px)) rotate(45deg);
        right: 0.1em;
        width: 2.8%;    
    }
}
.roomplan__left::after,
.roomplan__center::after,
.roomplan__right::after {
	content: '';
	position: absolute;
	top: 48%;
	right: -1em;
	transform: translateY(-48%);
	width: 28%;
	height: 1px;
	background: $black;
    @include mq(md) {
        transform: translateY(-52%);
        top: 52%;
        width: 14%;
        right: 0;
    }
}

.roomplan__title {
    font-size: rem(28);
    font-size:min(2vw, 28px);
    font-weight: 500;
    font-family: $yumincho;
    line-height: 1.7;
    @include mq(md) {
        font-size: rem(20);
        font-size:max(2vw, 10px);
    }
}

