@use 'global' as *;

.section-title {
    text-align: center;
    @include mq(md) {
        margin-top: rem(50)
    }
    @include mq(ss) {
        margin-top: rem(25)
    }
}

.section-title__ja {
    font-size: 34px;
    @include mq(md) {
        font-size: 20px;
    }
    @include mq(ss) {
        font-size: 16px;
    }
}

.section-title__en {
    font-size: 12px;
    font-family: $sub-font-family;
}