@use 'global' as *;

.section-title-sub {
    position: relative;
}
.section-title-sub::before,
.section-title-sub::after {
    position: absolute;
    content: "";
    top: 35%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: rem(280);
    height: rem(1);
    @include mq('ll') {
       width: rem(140); 
    }
    @include mq('md') {
        width: rem(140);
    }
}
.section-title-sub::before {
    left: 13%;
}
.section-title-sub::after {
    right: 1%;
}

.section-title-sub__ja {
    font-size: rem(36);
    text-align: center;
}
.section-title-sub__en {
    font-size: rem(14);
    // padding-left: rem(76);
    text-align: center;
    font-family: $sub-font-family;
}