@use 'global' as *;

.section-title {
    text-align: center;
    @include mq(md) {
        margin-top: rem(50)
    }
}

.section-title__ja {
    font-size: rem(34);
    font-size: min(2.4vw,34px);
    @include mq(md) {
        font-size: rem(34);
        font-size: max(2.4vw,14px);
    }
}

.section-title__en {
    // padding-left: rem(38);
    font-size: rem(12);
    font-family: $sub-font-family;
}