@use "global" as *;
.shared-swiper {
    position: relative;
}

.shared-swiper__container {
    max-width: rem(1077);
    width: 100%;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        width: 100%;
    }
}

.shared-swiper__img {
    height: auto;
    width: 100%;
    @include mq(md) {
        position: relative;
    }
}
.shared-swiper__content {
    margin-top: rem(40);
}

.shared-swiper__title {
    font-size: rem(16);
    font-weight: $bold;
    font-family: $yugothic;
    text-align: center;
    @include mq('md') {
       font-size: 14px; 
    }
}

.shared-swiper__text {
    font-size: rem(14);
    font-weight: 500;
    font-family: $yugothic;
    margin-top: rem(20);
    @include mq(md) {
        text-align: center;
        font-size: 14px;
    }
}

/* ページネーションの余白 */
.swiper-pagination {
    bottom: rem(-95) !important;
}
/* ページネーションのサイズと色 */
.swiper-pagination-bullet {
    background: $white!important;
    opacity: 0.5!important;
}
.swiper-pagination-bullet-active {
    background: $white!important;
    opacity: 1!important;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
    height: 50px;
    width: 50px;
}
/* 前へ次への矢印カスタマイズ */
.swiper-button-prev:after,
.swiper-button-next:after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 50px;
    margin: auto;
    width: 50px;
}
/* 前への矢印カスタマイズ */
.swiper-button-prev:after {
    background-image: url(../images/facility/facility-arrow-left.png);
}
/* 次への矢印カスタマイズ */
.swiper-button-next:after {
    background-image: url(../images/facility/facility-arrow-right.png);
}
/* 画像サイズ調整 */
.swiper-slide img {
    height: auto;
    width: 100%;
}

.swiper-button-prev {
    top: 55% !important;
    left: 0 !important;
    right: auto !important;
}
.swiper-button-next {
    top: 55% !important;
    right: 0 !important;
    left: auto !important;
}
