@use "global" as *;
.shared-swiper {
    position: relative;
    @include mq(md) {
        max-width: rem(500);
        width: 100%;
        margin: rem(60) auto 0;
    }
}

.shared-swiper__container {
    max-width: rem(980);
    width: 100%;
    margin: auto;
}

.swiper-slide.shared-swiper__contant {
    @include mq(md) {
        width: rem(500);
    }
}

.shared-swiper__img {
    padding-top: 59.677%;
    position: relative;
}

.shared-swiper__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    // max-width: rem(310);
    // width: 100%;
    @include mq(md) {
        top: 0;
        left: 0;
    }
}

.shared-swiper__content {
    margin-top: rem(40);
}

.shared-swiper__title {
    font-size: rem(16);
    font-weight: $bold;
    font-family: $yugothic;
    text-align: center;
}

.shared-swiper__text {
    font-size: rem(14);
    font-weight: 500;
    font-family: $yugothic;
    margin-top: rem(20);
    @include mq(md) {
        text-align: center;
    }
}

/* ページネーションの余白 */
.swiper-pagination {
    bottom: rem(-60) !important;
}
/* ページネーションのサイズと色 */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $white !important;
}

.swiper-pagination-bullet {
    border-color: $white !important;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
    height: 50px;
    width: 50px;
}
/* 前へ次への矢印カスタマイズ */
.swiper-button-prev:after,
.swiper-button-next:after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 50px;
    margin: auto;
    width: 50px;
}
/* 前への矢印カスタマイズ */
.swiper-button-prev:after {
    background-image: url(../images/facility/facility-arrow-left.png);
}
/* 次への矢印カスタマイズ */
.swiper-button-next:after {
    background-image: url(../images/facility/facility-arrow-right.png);
}
/* 画像サイズ調整 */
.swiper-slide img {
    height: auto;
    width: 100%;
}

.swiper-button-prev {
    top: 55% !important;
    left: rem(-33) !important;
    right: auto !important;
}
.swiper-button-next {
    top: 55% !important;
    right: rem(-34) !important;
    left: auto !important;
}
