@use 'global' as *;
  
  .slide-in {
    overflow: hidden;
      display: inline-block;
  }
  
  .slide-in_inner {
    display: inline-block;
  
  }
  
  .leftAnime,
  .leftAnime2,
  .leftAnime3
  {
      opacity: 0;
  }
  
  // 左から右
  .slideAnimeLeftRight {
    animation-name:slideTextX100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  @keyframes slideTextX100 {
    from {
    transform: translateX(-100%); 
          opacity: 0;
    }
  
    to {
    transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slideAnimeLeftRight2 {
    animation-name:slideTextX100-2;
    animation-duration:1s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  @keyframes slideTextX100-2 {
    from {
    transform: translateX(-100%); 
          opacity: 0;
    }
  
    to {
    transform: translateX(0);
      opacity: 1;
    }
  }
  
  // 右から左
  .slideAnimeRightLeft {
    animation-name:slideTextX-100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  
  @keyframes slideTextX-100 {
    from {
    transform: translateX(100%);
      opacity: 0;
    }
  
    to {
    transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slideAnimeRightLeft2 {
    animation-name:slideTextX-100-2;
    animation-duration:1s;
    animation-fill-mode:forwards;
      opacity: 0;
  }
  
  
  @keyframes slideTextX-100 {
    from {
    transform: translateX(100%);
      opacity: 0;
    }
  
    to {
    transform: translateX(0);
      opacity: 1;
    }
  }
  