@use 'global' as *;

.sub-section-title {
}
.sub-section-title__ja {
    font-size: rem(26);
    text-align: center;
}
.sub-section-title__en {
    font-size: rem(14);
    padding-left: rem(76);
    text-align: center;
}