@use 'global' as *;

.mySwiper-top {
    height: rem(360);
    @include mq('md') {
       height: rem(400); 
    }
}

.swiper-wrapper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    width: 28%;
}

.mySwiper-top.swiper-wrapper.swiper-slide,
.mySwiper-top.swiper-wrapper.swiper-slide img{
    width: rem(344);
    @include mq(md) {
        width: 100%;
    }
} 